*,*:before,*:after {
    box-sizing: border-box;
}

body {
    display: grid;
    margin: 0;
    font-size: 14px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9b9b9b;
    line-height: 3.8;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: black;
}


.footer > * {
    flex: 1 100%;
}

.footer-left {
    margin: 0 1.25em 2em 0;
}

.footer-left img {
    width: 13%;
}

h2 {
    font-weight: 600px;
    font-size: 17px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}


.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}